* {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    margin: 10 auto;
    font-size: 18px;
    box-sizing: content-box;
    margin: 5px 22px 0px 10px;
    padding: 12px 12px 50px 15px;
    text-align: center;
}
.body{
    
}
.header {
    background: #ebebeb;
    padding: 30px 12px 40px 15px;
    margin: 10px;
}

.nav {
    background: #ebebeb;
    padding: 30px 12px 45px 15px;
    margin: 10px;
}

.section {
    float: left;
    background: #ebebeb;
    width: 475px;
    margin: 10px 10px 15px 10px;
    padding: 30px;
    height: 220px;
}

.article {
    background: #777;
    color: #ebebeb;
    width: 465px;
    height: 100px;
    margin: 55px 0px 0px 0px;
}

.h1 {
    background: #ebebeb;
    width: auto;
    margin: 10px;
    padding: 10px;
}

.p {
    background: #ebebeb;
    width: auto;
    margin: 10px;
    padding: 10px;
}

.aside {
    float: left;
    background: #ebebeb;
    width: 350px;
    height: 220px;
    margin: 10px 20px 15px 5px;
    padding: 40px 5px 20px 25px;
}

.footer {
    background: #ebebeb;
    margin: 10px;
    padding: 30px 12px 45px 15px;
    clear: both;
}